<div class="container mt5 ">
    <div class="row">
        <div class="w80">
            <div class="card">
                    <div class="card-body curso-card">
                    <div class=" carta card mb-3" class="table">
                      <h3 class="card-header">{{this.listCursos[1].nombre}}</h3>
                      <div class="card-body">
                        <h5 class="card-title">{{this.listCursos[1].descripcion}}</h5>
                        <h6 class="card-subtitle text-muted">{{this.listCursos[1].categoria}}</h6>
                      </div>
                      <img src="{{this.listCursos[1].imagen}}"  alt="Imagen de los cursos">
                      <div class="card-body">
                        <p class="card-text">{{this.listCursos[1].duracion}} horas</p>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{this.listCursos[1].temas}}</li>
                      </ul>
                      <div class="card-body">
                      </div>
                      <div class="card-footer text-muted">
                        <p> Fecha de Creación : {{this.listCursos[1].fechaCreacion}}</p>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
